<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frame-selection.css') }}">
</head>

<body>
    <div class="holder">
    <h1 class="title">Choose your desired frame</h1>
        <div class="buttons">
            <a href="/layout">
            <button class="btn back-btn">BACK</button>
            </a>
            <a href="/photobooth">
                <button class="btn next-btn">NEXT</button>
            </a>
        </div>
    </div>
</body>

</html>
