<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login | Photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="login-wrapper">
        <img src="{{ url_for('static', filename='images/couple-1.png') }}" alt="Couple" class="login-image">
        <div class="holder">
            <p class="login-title">Login</p>
            <form>
                <div class="input-single">
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-single">
                    <input type="password" placeholder="Password">
                </div>

                <p class="signin-text">
                    Don't have an account? <a href="/signup">Sign up</a>
                </p>
                <a href="/layout">
                    <button type="submit" class="register-btn">Log in</button>
                </a>
            </form>
        </div>
    </div>
</body>

</html>