<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photobooth.css') }}">
</head>

<body>
    <div class="holder">
        <div class="booth-container">

            <div class="camera-section">
                <video id="video" autoplay></video>
            </div>

            <div id="finalFrame" class="final-frame"></div>
        </div>

        <div class="button-wrapper">
            <button id="captureBtn" class="btn">📷</button>
        </div>
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p>Do you want to save the photos?</p>
            <div class="modal-buttons">
                <button id="yesBtn" class="btn small-btn">Yes</button>
                <button id="noBtn" class="btn small-btn">No</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/photobooth.js') }}"></script>
</body>

</html>